<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316840408925-ca5gr0001vmscu9jejl33v5dnh1g47o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316840408925-ca5gr0001vmscu9jejl33v5dnh1g47o4</string>
	<key>API_KEY</key>
	<string>AIzaSyAwHCaxY2JH0t32I7z3ZsZSqUZ3Yxcwu_8</string>
	<key>GCM_SENDER_ID</key>
	<string>316840408925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratteek.algoTask</string>
	<key>PROJECT_ID</key>
	<string>algo-task</string>
	<key>STORAGE_BUCKET</key>
	<string>algo-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316840408925:ios:1b5ca02f8112a6fcbf1ab4</string>
	<key>DATABASE_URL</key>
	<string>https://algo-task.firebaseio.com</string>
</dict>
</plist>